//* Le mie classi personalizzate

body {
	background: linear-gradient(-45deg, $dark, $dark);
	background-size: 100% 100%;
	& > *{
		max-width: 500px;
		margin: auto;
	}
	touch-action: manipulation;
}

*{
	touch-action: manipulation;
}